---
import GetInTouch from "@/components/astro/GetInTouch.astro";
---

<footer class="p-8 flex flex-col items-center gap-3 ">
  <p class="font-mono text-lg">Get in touch with me!</p>
  <GetInTouch />
</footer>
