---
import GetInTouch from "@/components/astro/GetInTouch.astro";
---

<footer class="flex flex-col items-center gap-6 mt-24 mb-8">
  <p class="font-mono text-xs uppercase tracking-widest opacity-60">
    Let&apos;s build something
  </p>
  <GetInTouch />
</footer>
