---
import { FaGithub, FaLinkedin, FaInstagram, FaDiscord } from "react-icons/fa6";
---

<div class="flex gap-12">
  <a href="https://github.com/josetano2">
    <FaGithub data-cursor-text="Github" className="cursor-pointer" size={30} />
  </a>
  <a href="https://www.linkedin.com/in/jose-jonathan-tano">
    <FaLinkedin
      data-cursor-text="LinkedIn"
      className="cursor-pointer"
      size={30}
    />
  </a>
  <a href="https://www.instagram.com/josetano2/">
    <FaInstagram
      data-cursor-text="Instagram"
      className="cursor-pointer"
      size={30}
    />
  </a>
</div>
