---
import { FaGithub, FaLinkedin, FaInstagram, FaDiscord } from "react-icons/fa6";
---

<div class="flex gap-8 lg:gap-10">
  <a
    href="https://github.com/josetano2"
    class="transition-all duration-300 hover:scale-110 hover:text-[#ff3d1a]"
  >
    <FaGithub data-cursor-text="Github" className="cursor-pointer" size={26} />
  </a>
  <a
    href="https://www.linkedin.com/in/jose-jonathan-tano"
    class="transition-all duration-300 hover:scale-110 hover:text-[#ff3d1a]"
  >
    <FaLinkedin
      data-cursor-text="LinkedIn"
      className="cursor-pointer"
      size={26}
    />
  </a>
  <a
    href="https://www.instagram.com/josetano2/"
    class="transition-all duration-300 hover:scale-110 hover:text-[#ff3d1a]"
  >
    <FaInstagram
      data-cursor-text="Instagram"
      className="cursor-pointer"
      size={26}
    />
  </a>
</div>
