---
import { Image } from "astro:assets";

interface Props {
  thumbnail: ImageMetadata;
}

const { thumbnail } = Astro.props;
---

<div
  class="w-[21rem] h-96 gap-2 font-mono cursor-pointer border-2 border-black p-3 bg-white group card-parent"
>
  <div class="w-full h-72 overflow-hidden relative">
    <div
      class="w-screen h-full bg-black absolute z-20 opacity-0 xl:opacity-10 2xl:opacity-10 group-hover:opacity-0 transition-opacity ease-in"
    >
    </div>
    <Image
      class="object-cover w-full h-full transition-transform ease-in duration-[0.15s] scale-[1] group-hover:scale-[1.05]"
      src={thumbnail}
      alt="tes"
    />
  </div>
</div>
