---
import Layout from "@/layouts/Layout.astro";
import Button from "../components/react/Button";
import TypewriterText from "@/components/react/TypewriterText";
import GetInTouch from "@/components/astro/GetInTouch.astro";
import '@/styles/global.css'
import '@/styles/index.scss'
---

<Layout>
  <div
    class="flex flex-col justify-center w-full h-full sm:p-6 lg:p-12 overflow-hidden mt-auto"
  >
    <div class="flex flex-col h-full justify-center items-center gap-8 split">
      <div class="flex">
        <p class="text-2xl lg:text-3xl 2xl:text-4xl font-mono">{`>\xa0`}</p>
        <TypewriterText
          className="text-2xl lg:text-3xl 2xl:text-4xl font-mono"
          client:load
        />
        <p class="text-2xl lg:text-3xl 2xl:text-4xl font-mono">
          {`, I'm Jose`}
        </p>
      </div>
      <GetInTouch />
      <div class="flex justify-center items-center gap-12 text-lg">
        <Button client:idle href="/" text="View CV" id="button-cv" />
        <Button
          client:idle
          href="/projects"
          text="Projects"
          id="button-projects"
        />
      </div>
    </div>
  </div>

  <style is:global>
    .text {
      transform: translateY(20px);
    }

    .split {
      transform: translateY(60px);
      opacity: 0;
    }

  </style>

  <script>
    import gsap from "gsap";
    
    gsap.to(".split", {
      y: 0,
      duration: 1,
      opacity: 1,
      ease: "expo.inOut",
    });
  </script>
</Layout>
