---
import Layout from "@/layouts/Layout.astro";
import { FaGithub, FaLinkedin, FaInstagram, FaDiscord } from "react-icons/fa6";
import Button from "../components/react/Button";
import TypewriterText from "@/components/react/TypewriterText";
---

<Layout>
  <div
    class="flex flex-col justify-center h-full sm:p-6 lg:p-12 overflow-hidden"
  >
    <div class="flex flex-col justify-center items-center gap-8 split">
      <div class="flex">
        <p class="text-2xl lg:text-3xl 2xl:text-4xl font-mono">{`>\xa0`}</p>
        <TypewriterText
          className="text-2xl lg:text-3xl 2xl:text-4xl font-mono"
          client:load
        />
        <p class="text-2xl lg:text-3xl 2xl:text-4xl font-mono">
          {`, I'm Jose`}
        </p>
      </div>

      <div class="flex gap-12">
        <a href="https://github.com/josetano2">
          <FaGithub
            data-cursor-text="Github"
            className="cursor-pointer"
            size={30}
          />
        </a>
        <a href="https://www.linkedin.com/in/jose-jonathan-tano">
          <FaLinkedin
            data-cursor-text="LinkedIn"
            className="cursor-pointer"
            size={30}
          />
        </a>
        <a href="https://www.instagram.com/josetano2/">
          <FaInstagram
            data-cursor-text="Instagram"
            className="cursor-pointer"
            size={30}
          />
        </a>
        <FaDiscord
          data-cursor-text="Discord"
          className="cursor-pointer"
          size={30}
        />
      </div>
      <div class="flex justify-center items-center gap-12 text-lg">
        <Button client:idle href="/" text="View CV" id="button-cv" />
        <Button
          client:idle
          href="/projects"
          text="Projects"
          id="button-projects"
        />
      </div>
    </div>
  </div>

  <style is:global>
    .text {
      transform: translateY(20px);
    }

    .split {
      transform: translateY(60px);
      opacity: 0;
    }

    .char1,
    .char2 {
      /* opacity: 0; */
      transform: translateY(5.5rem);
      transition: transform 0.5s;
    }
  </style>
  <script>
    import { animatePageOut } from "@/lib/animation/animation";
    import gsap from "gsap";

    gsap.to(".char1", {
      y: 0,
      stagger: 0.05,
      duration: 0.1,
      ease: "expo.inOut",
    });

    gsap.to(".char2", {
      y: 0,
      stagger: 0.05,
      duration: 0.1,
      ease: "expo.inOut",
    });
    gsap.to(".split", {
      y: 0,
      duration: 1,
      opacity: 1,
      ease: "expo.inOut",
    });
  </script>
</Layout>
