---
import Layout from "@/layouts/Layout.astro";
import * as Contents from "@/lib/contents/homeTexts";
import { splitText } from "@/lib/util/split";
---

<Layout>
  <div class="flex flex-col justify-between h-full p-12">
    <div class="flex flex-col">
      <div class="text-3xl font-semibold flex split">
        {
          splitText(Contents.topText1).map((char: string) => {
            return <p class="char1">{char === " " ? "\u00A0" : char}</p>;
          })
        }
      </div>
      <div class="text-xl top-text split flex">
        {
          splitText(Contents.topText2).map((char: string) => {
            return <p class="char1">{char === " " ? "\u00A0" : char}</p>;
          })
        }
      </div>
    </div>

    <div class="flex flex-col items-center justify-end gap-5 mt-auto">
      <div class="text-5xl font-semibold opacity-30 text split flex">
        {
          splitText(Contents.bottomText1).map((char: string) => {
            return <p class="char2">{char === " " ? "\u00A0" : char}</p>;
          })
        }
      </div>
      <div class="overflow-hidden">
        <div class="text-8xl font-extrabold split flex">
          {
            splitText(Contents.bottomText2).map((char: string) => {
              return <p class="char2">{char === " " ? "\u00A0" : char}</p>;
            })
          }
        </div>
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  .text {
    transform: translateY(20px);
  }

  .split {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .char1,
  .char2 {
    /* opacity: 0; */
    transform: translateY(5.5rem);
    transition: transform 0.5s;
  }
</style>

<script>
  import gsap from "gsap";

  gsap.to(".char1", {
    y: 0,
    stagger: 0.05,
    duration: 0.1,
    ease: "expo.inOut",
  });

  gsap.to(".char2", {
    y: 0,
    stagger: 0.05,
    duration: 0.1,
    ease: "expo.inOut",
  });

  // gsap.to(".text", {
  //   y: 0,
  //   opacity: 1,
  //   duration: 0.3,
  //   ease: "power1.out",
  //   delay: 0.5,
  // });
</script>
