---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col items-end justify-end gap-2">
    <p class="text-6xl">おはよう</p>
    <p class="text-8xl font-extrabold">Fullstack Developer</p>
  </div>
</Layout>
