---
import Layout from "@/layouts/Layout.astro";
import * as Contents from "@/lib/contents/homeTexts";
import { FaGithub, FaLinkedin, FaInstagram, FaDiscord } from "react-icons/fa6";
import Button from "../components/Button";
---

<Layout>
  <div class="flex flex-col justify-center h-full p-12 overflow-hidden">
    <div class="flex flex-col justify-center items-center gap-8 split">
      <!-- <p class="text-5xl font-mono">{`{ ${Contents.introName} }`}</p> -->
      <p class="text-4xl font-mono">{`> ${Contents.introName}`}</p>

      <div class="flex gap-12">
        <FaGithub data-cursor-text=" " size={30} />
        <FaLinkedin data-cursor-text=" " size={30} />
        <FaInstagram data-cursor-text=" " size={30} />
        <FaDiscord data-cursor-text=" " size={30} />
      </div>
      <div class="flex gap-12 text-lg">
        <button
          data-cursor-text=" "
          class="border-black border-[1px] rounded-full px-6 py-1">CV</button
        >
        <Button client:idle href="/projects" text="Projects" />
      </div>
    </div>
  </div>

  <style is:global>
    .text {
      transform: translateY(20px);
    }

    .split {
      /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
      transform: translateY(60px);
      opacity: 0;
    }

    .char1,
    .char2 {
      /* opacity: 0; */
      transform: translateY(5.5rem);
      transition: transform 0.5s;
    }
  </style>

  <script>
    import { animatePageOut } from "@/lib/animation/animation";
    import gsap from "gsap";

    gsap.to(".char1", {
      y: 0,
      stagger: 0.05,
      duration: 0.1,
      ease: "expo.inOut",
    });

    gsap.to(".char2", {
      y: 0,
      stagger: 0.05,
      duration: 0.1,
      ease: "expo.inOut",
    });
    gsap.to(".split", {
      y: 0,
      duration: 1,
      opacity: 1,
      ease: "expo.inOut",
    });

    // gsap.to(".text", {
    //   y: 0,
    //   opacity: 1,
    //   duration: 0.3,
    //   ease: "power1.out",
    //   delay: 0.5,
    // });

    const handleChangePage = (path: string) => {
      animatePageOut(path);
    };
  </script>
</Layout>
