---
import { Image } from "astro:assets";
import type { IProject, IStack } from "../lib/models/model";

interface Props {
  name: string;
  role: string;
  stacks: IStack[];
  thumbnail: ImageMetadata;
}

const { name, role, stacks, thumbnail } = Astro.props;
---

<div class="w-full h-fit gap-2 font-mono cursor-pointer" data-cursor-text={name}>
  <Image class="object-cover w-[full] h-72" src={thumbnail} alt="tes" />
  <p class="text-2xl font-bold">{name}</p>
  <p class="text-lg">{role}</p>
  <div class="flex gap-3">
    {
      stacks.map((s) => {
        return <s.icon size={25} />;
      })
    }
  </div>
</div>

<script></script>
