---
import { projectContents } from "@/lib/contents/project-contents";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return [
    { params: { project: "travelohi" } },
    { params: { project: "easywork" } },
    { params: { project: "sunshine" } },
    { params: { project: "recall" } },
    { params: { project: "linkasa" } },
    { params: { project: "sunshinefi" } },
    { params: { project: "tarzan" } },
    { params: { project: "the-adventure-of-tpa" } },
    { params: { project: "janidb" } },
  ];
}

import Slider from "@/components/react/Slider";

const { project } = Astro.params;

const images = projectContents[project].imageDetails;
const projectName = projectContents[project].name;
const projectExplanation = projectContents[project].explanation;
---

<Layout>
  <div class="flex flex-col pt-4 lg:pt-0 justify-center items-center">
    <div
      class="flex flex-col h-full sm:p-4 lg:p-8 gap-6 w-full lg:w-3/4 justify-center items-center"
    >
      <div class="flex gap-6 justify-center">
        <Slider image={images} client:idle />
      </div>
      <div class="flex flex-col justify-center">
        <div class="text-justify">
          <p class="text-2xl lg:text-3xl 2xl:text-4xl font-mono font-bold">
            {`> ${projectName}`}
          </p>

          {
            projectExplanation
              .split("#")
              .map((paragraph) => (
                <p class="text-justify text-lg mb-4">{paragraph}</p>
              ))
          }
        </div>
      </div>
    </div>
  </div>
</Layout>
