---
import { projectContents } from "@/lib/contents/project-contents";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return [
    { params: { project: "travelohi" } },
    { params: { project: "easywork" } },
    { params: { project: "sunshine" } },
    { params: { project: "recall" } },
    { params: { project: "linkasa" } },
    { params: { project: "sunshinefi" } },
    { params: { project: "tarzan" } },
    { params: { project: "the-adventure-of-tpa" } },
    { params: { project: "janidb" } },
    { params: { project: "chronos" } },
  ];
}

const { project } = Astro.params;
---

<Layout>
  <div>{projectContents[project].name}</div>
</Layout>
