---
import Navbar from "../components/react/Navbar";
import ThemeToggle from "../components/react/ThemeToggle";
import "../styles/index.scss";

const { title = "Jose Jonathan Tano" } = Astro.params;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <meta
      name="description"
      content="Jose Jonathan Tano - Computer Science Student & Developer."
    />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="Jose Jonathan Tano - Computer Science Student & Developer"
    />
    <meta property="og:type" content="website" />
    <title>{title}</title>
    <script is:inline>
      const savedTheme = localStorage.getItem("theme");
      const prefersDark = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;
      const theme = savedTheme || (prefersDark ? "dark" : "light");

      if (theme === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body
    class="w-screen min-h-screen flex bg-custom-grid bg-custom-size bg-white dark:bg-slate-900 overflow-x-hidden transition-colors duration-300"
  >
    <div
      class="fixed w-[200vw] h-[140vh] bg-slate-600 dark:bg-slate-800 -left-[50vw] top-0 z-[999]"
      id="bg-transition"
    >
    </div>
    <ThemeToggle client:load />
    <div class="w-full min-h-screen flex flex-col p-8">
      <div class="w-full h-fit flex justify-center">
        <Navbar client:only />
      </div>
      <article class="h-full">
        <slot />
      </article>
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    /* cursor: none; */
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #475569;
    border-radius: 10px;
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: #64748b;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }

  body {
    background-size: 70px 70px;
    background-image: radial-gradient(
      circle,
      #0000003b 1px,
      rgba(0, 0, 0, 0) 1px
    );
  }

  .dark body {
    background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.1) 1px,
      rgba(0, 0, 0, 0) 1px
    );
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }

  ::view-transition-old(root) {
    z-index: 1;
  }

  ::view-transition-new(root) {
    z-index: 9999;
  }

  html {
    view-transition-name: root;
  }
</style>

<script>
  import LocomotiveScroll from "locomotive-scroll";
  import { animatePageIn } from "@/lib/animation/animation";

  const locomotiveScroll = new LocomotiveScroll({
    lenisOptions: {
      wrapper: window,
      content: document.documentElement,
      lerp: 0.1,
      duration: 1.2,
      orientation: "vertical",
      gestureOrientation: "vertical",
      smoothWheel: true,
      wheelMultiplier: 1,
      touchMultiplier: 2,
      easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
    },
  });

  // window.addEventListener("DOMContentLoaded", () => {
  //   animatePageIn();
  // });

  const bgTransition = document.getElementById("bg-transition") as HTMLElement;

  window.addEventListener("pageshow", () => {
    if (bgTransition) {
      animatePageIn();
    }
  });
</script>
