---
import Navbar from "../components/navbar/Navbar";
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="w-screen h-screen flex">
    <div
      class="fixed w-[200vw] h-[140vh] bg-black -left-[50vw] top-0"
      id="bg-transition"
    >
    </div>
    <div class="w-full h-full flex flex-col p-5">
      <Navbar client:idle />
      <article class="h-full">
        <slot />
      </article>
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  ::-webkit-scrollbar {
    display: none;
  }
</style>

<script>
  import LocomotiveScroll from "locomotive-scroll";
  import gsap from "gsap";
  import { animatePageIn } from "@/lib/animation/animation";

  const locomotiveScroll = new LocomotiveScroll({
    lenisOptions: {
      wrapper: window,
      content: document.documentElement,
      lerp: 0.1,
      duration: 1.2,
      orientation: "vertical",
      gestureOrientation: "vertical",
      smoothWheel: true,
      wheelMultiplier: 1,
      touchMultiplier: 2,
      easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
    },
  });

  window.addEventListener("DOMContentLoaded", () => {
    animatePageIn();
  });
</script>
