---
import Navbar from "../components/navbar/Navbar";
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="w-full h-screen p-5 flex flex-col">
    <Navbar />
    <article class="mt-auto">
      <slot />
    </article>
  </body>
</html>

<style is:global>
  html {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
</style>
