---
import ImageCard from "@/components/astro/ImageCard.astro";
import Layout from "../../layouts/Layout.astro";
import placeholder from "@/lib/images/AboutMe/placeholder.png";
import { lorem } from "@/lib/contents/project-contents";
---

<Layout>
  <div class="flex flex-col h-full mt-4 sm:p-4 lg:p-8 gap-12">
    <div class="flex flex-col md:flex-row gap-12 justify-center items-center">
      <ImageCard thumbnail={placeholder} />
      <div class="w-full sm:w-1/2 text-justify font-mono flex flex-col gap-6">
        <p class="text-2xl lg:text-3xl 2xl:text-4xl font-bold">
          {`> About Me`}
        </p>
        <p class="text-lg lg:text-xl lg:leading-7">
          {lorem}
        </p>
      </div>
    </div>
  </div>
</Layout>
